# if-else

In [4]:
a=3
b=5
if a>b:
    print(a+b)
elif a==b:
    print("equal")
else:
    print(a<b)

True

# Loop

In [5]:
n=1
while n<=10:
    print(n)
    n+=1 #increment

1
2
3
4
5
6
7
8
9
10

# For loop

In [6]:
for i in range(10): #(0,10,1)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(5,10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [14]:
for i in range(10,0,-2):
    print("2 increament")

2 increament
2 increament
2 increament
2 increament
2 increament

In [15]:
veg=['tomato','potato','letus']
for v in veg:
    print(v)

tomato
potato
letus

In [18]:
dict={'a':"A",'b':"B",'c':"C"}
for v in dict.values():
    print(v)

A
B
C

# Function

In [19]:
# function two types built-in and user_defined
# def function_name(parameter):
def my_pet(name):
    return name #output
#calling the function
my_pet("tiger")

'tiger'

In [20]:
def country():
    print("bd")
    print("usa")
    print("ind")
country()

bd
usa
ind

In [21]:
def human(name,age,color):
    return name,age,color
human("Jhon",23,"Black")# tuple return

('Jhon', 23, 'Black')